---
import DefaultLayout from '../layouts/defaultLayout.astro';
import { H1 } from '@/components/typography';
import { getPokemonById } from '@/api/pokemon';
import { PokemonHeader } from '@/components/pokemonHeader';
import { PokemonPortrait } from '@/components/pokemonPortrait';
import { PokemonStats } from '@/components/pokemonStats';
import { PokemonToggle } from '@/components/pokemonToggle';
import { PokemonTypes } from '@/components/pokemonTypes';

let data = await getPokemonById(1);
---

<DefaultLayout>
	<H1>Pokedex</H1>

	<div class="mt-4 flex flex-col gap-4">
		<div>
			<PokemonHeader pokemon={data} client:load />
			<PokemonTypes pokemon={data} client:load />
		</div>

		<div
			class="grid gap-4 sm:grid-cols-[2fr,3fr] md:grid-cols-[3fr,5fr] lg:grid-cols-[1fr,2fr]"
		>
			<PokemonPortrait pokemon={data} client:load />
			<PokemonStats pokemon={data} client:load />
		</div>

		<PokemonToggle pokemon={data} client:load />
	</div>
</DefaultLayout>
